{
    "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "semi": false,
    "singleQuote": true,
    "tabWidth": 5,
    "useTabs": false,
    "printWidth": 120,
    "importOrder": [
        "<BUILTIN_MODULES>",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@/layouts/(.*)$",
        "^@/templates/(.*)$",
        "^@/modals/(.*)$",
        "^@/ui/(.*)$",
        "^@/forms/(.*)$",
        "^@/organisms/(.*)$",
        "^@/molecules/(.*)$",
        "^@/atoms/(.*)$",
        "",
        "^@/lib/(.*)$",
        "^@/validation/(.*)$",
        "",
        "^@/types/(.*)$",
        "<TYPES>",
        "",
        "^[./]"
    ]
}
